<ion-page>
  <ion-header :translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title> Set Name </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title> Set Name </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item>
      <ion-label> What's your name? </ion-label>
      <ion-input v-model="name"> </ion-input>
    </ion-item>
  </ion-content>
  <ion-button
    v-if="name"
    style="width: 100%; margin: 1em 0 1em 0;"
    @click="joinWithName"
  >
    Join as {{name}}
  </ion-button>
</ion-page>
