<ion-page>
  <ion-header :translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>Casting {{playName}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Casting {{playName}} </ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="invitationWrapper">
      <div><canvas id="qrCanvas"> </canvas></div>
      <ion-button @click="copyInvitationLink">
        Copy invitation link
      </ion-button>
    </div>

    <div style="padding: 1em; text-align: center;">
      <ion-list>
        <ion-item>
          <ion-label>
            Cast Automatically: {{autoCast ? "On" : "Off"}}</ion-label
          >
          <ion-toggle @ionChange="toggleAutoCast" checked="autoCast" />
        </ion-item>
        <ion-item v-if="!cast.length">
          <ion-label>
            Waiting for performers to accept your invitation...
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list style="margin: 1em 0em;" v-if="uncastCount">
        <ion-title size="medium"> Uncast</ion-title>
        <ion-item v-for="u in uncastActors">
          <ion-button slot="end" @click="castingModal({actor: u.identity})">
            {{u.name}}
          </ion-button>
        </ion-item>
        <ion-item v-for="u in uncastRoles">
          <ion-button v-if="u" @click="castingModal({role: u})">
            {{u}}
          </ion-button>
        </ion-item>
      </ion-list>

      <ion-list style="margin: 1em 0em;" v-if="cast.length">
        <ion-title size="medium" style="margin: 1em;"> Cast </ion-title>
        <div v-for="member in cast" style="margin-bottom: 1.5em;">
          <ion-item v-for="(role, index) in member.roles">
            <span slot="end" v-if="index === 0">
              <span v-if="autoCast">{{member.name}}</span>
              <ion-button
                v-if="!autoCast"
                @click="castingModal({actor: member.id})"
              >
                {{member.name}}
              </ion-button>
            </span>
            <div v-if="autoCast">{{role}}</div>
            <ion-button v-if="!autoCast" @click="castingModal({role: role})">
              <div>{{role}}</div>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <div v-if="cast.length && !uncastRoles.length">
    <ion-button style="width: 100%; margin-bottom: 1em;" @click="beginShow">
      Begin show
      <span v-if="uncastActors === 1">
        &nbsp; (without 1 actor)
      </span>
      <span v-if="uncastActors.count > 1">
        &nbsp; (without {{uncastActors.count}} actors)
      </span>
    </ion-button>
  </div>
</ion-page>
