.lines {
  font-size: 16px;
  align-text: center;
  margin: 4em;
}

.listening {
  font-size: 16px;
  align-text: center;
  margin: 4em;
}

.part {
  font-size: 18px;
  align-text: center;
  margin: 4em;
}
