<ion-page>
  <ion-header :translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title> {{ playName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"> {{ playName }} </ion-title>
      </ion-toolbar>
    </ion-header>
    <div v-if="cue">
      <div :class="$style.part">
        {{part}}
      </div>
      <div :class="$style.lines">{{cue}}</div>
    </div>
    <div v-if="!cue" :class="$style.listening">
      <span v-if="part"> ({{part}} speaking) </span>
      <span v-if="!part"> (Waiting for cue) </span>
    </div>
  </ion-content>
  <ion-button
    v-if="cue"
    style="width: 100%; margin: 1em 0 1em 0;"
    @click="cueNextActor"
  >
    Cue next actor
  </ion-button>
</ion-page>
